<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AP_Domain" value="nxone" />
    <add key="AP_UserName" value="vaibhav.brahme" />
    <add key="AP_Password" value="pass@word88" />
    <add key="AP_App_ID" value="BarCode Sample" />
    <add key="AP_ApplicationName" value="BarCode Sample" />
    <add key="AP_Locale" value="en-US" />
    <add key="AP_Process_Name" value="BarCodeProcess" />
    <add key="GetGUUID" value="https://trialas2.nxone.com:443/AgilePointServer/Workflow/GetUUID" />
    <add key="ProcessIns" value="https://trialas2.nxone.com:443/AgilePointServer/Workflow/CreateProcInst" />
    <add key="GetReleasePID" value="https://trialas2.nxone.com:443/AgilePointServer/Workflow/GetReleasedPID/BarCodeProcess" />
	<!--AgilePoint Configuration-->
    <add key="WorkFlowBindingUsed" value="WSHttpBinding_IWCFWorkflowService" />
    <!--<add key="EventServicesBindingUsed" value="NetTcpBinding_IWCFEventServices" />-->
    <add key="AdminBindingUsed" value="WSHttpBinding_IWCFAdminService" />
    <add key="ExtensionBindingUsed" value="WSHttpBinding_IWCFExtensionService" />
    <add key="HostingMechanism" value="WCF" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWCFWorkflowService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" transactionFlow="false">
          <security mode="Transport">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" algorithmSuite="Default" negotiateServiceCredential="true" />
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
        </binding>
        <binding name="WSHttpBinding_IWCFAdminService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" transactionFlow="false">
          <security mode="Transport">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" algorithmSuite="Default" negotiateServiceCredential="true" />
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
        </binding>
        <binding name="WSHttpBinding_IWCFEventServices" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" transactionFlow="false">
          <security mode="Transport">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" algorithmSuite="Default" negotiateServiceCredential="true" />
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
        </binding>
        <binding name="WSHttpBinding_IWCFDataServices" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" transactionFlow="false">
          <security mode="Transport">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" algorithmSuite="Default" negotiateServiceCredential="true" />
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
        </binding>
        <binding name="WSHttpBinding_IWCFExtensionService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" transactionFlow="false">
          <security mode="Transport">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" algorithmSuite="Default" negotiateServiceCredential="true" />
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://trialas2.nxone.com:13487/AgilePointServer/Workflow" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWCFWorkflowService" contract="WorkflowService.IWCFWorkflowService" name="WSHttpBinding_IWCFWorkflowService" behaviorConfiguration="AgilePointServiceBehavior" />
      <endpoint address="https://trialas2.nxone.com:13487/AgilePointServer/Admin" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWCFAdminService" contract="AdminService.IWCFAdminService" name="WSHttpBinding_IWCFAdminService" behaviorConfiguration="AgilePointServiceBehavior" />
      <endpoint address="https://trialas2.nxone.com:13487/AgilePointServer/EventServices" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWCFEventServices" contract="EventServices.IWCFEventServices" name="WSHttpBinding_IWCFEventServices" behaviorConfiguration="AgilePointServiceBehavior" />
      <endpoint address="https://trialas2.nxone.com:13487/AgilePointServer/DataServices" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWCFDataServices" contract="DataServices.IWCFDataServices" name="WSHttpBinding_IWCFDataServices" behaviorConfiguration="AgilePointServiceBehavior" />
      <endpoint address="https://trialas2.nxone.com:13487/AgilePointServer/Extension" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWCFExtensionService" contract="ExtensionServices.IWCFExtensionService" name="WSHttpBinding_IWCFExtensionService" behaviorConfiguration="AgilePointServiceBehavior" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AgilePointServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>